.versions {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.container {
	display: flex;
	overflow-x: scroll;
	gap: 10px;
	text-transform: capitalize;
}

.container ::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

.container span {
	background: var(--glass);
	padding: 5px 10px;
	border-radius: 8px;
	border: var(--border);
}
