.pokemonAbility {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.container {
	width: 100%;
	background: var(--glass);
	padding: 10px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	border: var(--border);
}
