.container {
	background: var(--glass);
	border-radius: 8px;
	border: var(--border);
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: -moz-fit-content;
	width: fit-content;
	margin-bottom: 20px;
}

.name {
	display: flex;
	gap: 10px;
	align-items: center;
	text-transform: capitalize;
}
