.light {
	--text: #101723;
	--background: #fff;
	--primary: #31445e;
	--secondary: #dce3ef;
	--accent: #43608e;
	--glass: rgb(113 142 188 / 10%);
	--border: 1px solid rgba(113, 142, 188, 0.29);
}

:root {
	--red: #ef233c;
	--darkRed: #d90429;
	--white: #fff;
	--glass: rgb(113 142 188 / 10%);
	--border: 1px solid rgba(113, 142, 188, 0.29);
}

.dark {
	--text: #eceff4;
	--background: #101723;
	--primary: #a1b4ce;
	--secondary: #324767;
	--accent: #718ebc;
}
html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--text);
	background: var(--background);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
p {
	font-weight: 300;
	color: var(--primary);
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.layout {
	display: flex;
}

.layout-header {
	width: 100%;
	max-width: 200px;
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

::-webkit-scrollbar-thumb {
	background: var(--accent);
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0px 0px 3px 0px rgb(0 0 0 / 20%);
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
