.light {
	--text: #101723;
	--background: #fff;
	--primary: #31445e;
	--secondary: #dce3ef;
	--accent: #43608e;
}

:root {
	--red: #ef233c;
	--darkRed: #d90429;
	--white: #fff;
}

.dark {
	--text: #eceff4;
	--background: #101723;
	--primary: #a1b4ce;
	--secondary: #324767;
	--accent: #718ebc;
}
html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--text);
	background: var(--background);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.layout-header {
	max-width: 1600px;
	padding-inline: 20px;
	padding-top: 20px;
	margin: 0 auto;
}
