/* locationData.module.css */

/* Container styles */
.pokemonLocation {
	width: 100%;
	text-transform: capitalize;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.tabContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 10px;
}

.tab {
	border-radius: 5px;
	background-color: var(--glass);
	padding: 5px 10px;
	color: var(--text);
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
	text-transform: capitalize;
	font-weight: bold;
	border: var(--border);
}

.activeTab {
	border-radius: 5px;
	background-color: var(--accent);
	color: white;
	font-weight: bold;
	padding: 5px 10px;
	border: none;
	text-transform: capitalize;
}

.tab:hover {
	background-color: var(--accent);
}

.tabContent {
	width: 100%;
}

.locationTable th:first-child {
	border-top-left-radius: 8px;
}
.locationTable th:last-child {
	border-top-right-radius: 8px;
}
/*

.locationTable tbody td:first-child {
	border-bottom-left-radius: 8px;
}
.locationTable tbody td:last-child {
	border-bottom-right-radius: 8px;
}


*/
.locationTable {
	width: 100%;
	border-spacing: 0;
}

.locationTable th,
.locationTable td {
	padding: 8px;
	text-align: left;
}

.locationTable th {
	font-weight: bold;
	background: var(--glass);
	border: var(--border);
}

.locationTable td {
	border: var(--border);
	padding: 8px;
	text-align: left;
}

.locationName {
	font-weight: bold;
}

.conditions {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
