.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	border-radius: 13px;
	box-shadow: 0 0 3px var(--accent);
	width: 100%;
	height: 250px;
	background-color: var(--secondary);
	justify-content: center;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	position: relative;
}

.card:hover {
	scale: 1.03;
}

.detail {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.trigger {
	color: var(--accent);
	text-transform: capitalize;
}
