.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	border-radius: 13px;
	width: 100%;
	height: 250px;
	background: rgb(113 142 188 / 10%);
	justify-content: center;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	position: relative;
	border: 1px solid rgba(113, 142, 188, 0.29);
}

.card:hover {
	scale: 1.03;
}

.detail {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.trigger {
	color: var(--accent);
	text-transform: capitalize;
}
