.container {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.moveContainer {
	margin-bottom: 20px;
}
.movContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(540px, 1fr));
	grid-gap: 5px;
}
.moves {
	background-color: var(--secondary);
	padding: 10px;

	border-radius: 8px;
	gap: 5px;
}

.moves h3 {
	text-transform: capitalize;
	margin-bottom: 10px;
}
.move {
	display: flex;
	flex-direction: row;
	text-transform: capitalize;
	padding: 10px;
	gap: 10px;
	background: var(--background);
	border: 2px solid var(--accent);
	border-radius: 8px;
	width: 100%;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	flex-wrap: wrap;
	align-items: center;
}

.move:hover {
	scale: 1.01;
}

.method {
	display: flex;
	gap: 15px;
	align-items: center;
}

.moveName {
	color: var(--accent);
}

.selected {
	border-radius: 5px;
	background-color: var(--accent);
	color: white;
	font-weight: bold;
	padding: 5px 10px;
	border: none;
	text-transform: capitalize;
}

.version {
	border-radius: 5px;
	background-color: var(--secondary);
	padding: 5px 10px;
	color: white;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
	text-transform: capitalize;
	font-weight: bold;
}

.tabs {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 10px;
}

.type {
	padding: 8px 10px;
	text-transform: capitalize;
	color: #fff;
	border-radius: 4px;
}
