.held {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.items {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	border-radius: 8px;
	background-color: var(--secondary);
	text-transform: capitalize;
}
