.navbar {
	width: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	border: 1px solid rgba(113, 142, 188, 0.29);
	background: rgb(113 142 188 / 10%);
	position: fixed;
	max-width: 200px;
	top: 20px;
	height: calc(100vh - 40px);
	justify-content: center;
}

.link {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 10px;
	text-transform: capitalize;
	font-weight: bold;
	border-bottom: 1px solid rgba(113, 142, 188, 0.29);
	padding-block: 10px;
}

.link:hover {
	background-color: var(--accent);
	color: white;
	transition: 0.2s ease-in-out;
}

.navbar a:first-child {
	border: none;
}

.navbar a:last-child {
	border: none;
}

.active {
	background-color: var(--accent);
	color: white;
}
