.ability {
	display: flex;
	flex-direction: column;
	gap: 10px;
	background: var(--background);
	border-radius: 8px;
	padding: 10px;
	border: var(--border);
}

.ability h3 {
	text-transform: capitalize;
}

.ability span {
	color: var(--accent);
}

.abilityName {
	display: flex;
	gap: 5px;
	align-items: center;
}

.abilityName:hover {
	color: var(--accent);
}
